html, body{
  height: 100%;
  width: 100%;
  position: fixed;

}
.global-container h1 {
    text-align: center;
  }
.global-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: fixed;

}
button{
  width:100%;
  display: inline-block;
}


